body{
    background-color: beige;
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid red;
    position: relative;
    display: flex;
    flex-direction: row;
}

.upperDiv{
    background-color: blueviolet;
}