body{
    background-color: rgb(224, 224, 224);
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 10px 40px 10px;
    border-radius: 5%;
    width: 300px;
    height: 500px;
}

img{
    width: 280px;
    border-radius: 5%;
}

h2{
    font-family: Courier, monospace;
    letter-spacing: 2px;
}

p{
    color: rgba(0, 0, 0, 0.671);
}